@import url("./assets/styles/fonts.css");

* {
  margin-top: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
body {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  font-family: "iranyekan", sans-serif;
  color: var(--mainBlack);
  background-color: var(--bodyColor);
}
:root {
  --primaryColor: #6d28d9;
  --secondaryColor: #ede9fe;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGray: #7c7c7c;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
  --mainRed: #db2777;
  --bodyColor: #f6f6f6;
  --nav-width: 250px;
}
.notes {
  display: flex;
}
.notes__sidebar {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: var(--nav-width);
  height: 100vh;
  position: sticky;
  left: 0;
  top: 0;
  padding: 1.5rem 0.75rem;
  border-radius: 0 100px 0 0;
  transition: all 0.3s ease-out;
  background: linear-gradient(180deg, #324467, #283142);
}
.notes__logo {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 800;
  padding: 2rem 0;
  border-bottom: 1px solid var(--mainGray);
  color: #fff;
  text-align: center;
}
.notes__list {
  flex-grow: 1;
  margin-top: 1rem;
  overflow-y: auto;
}
.notes__list::-webkit-scrollbar {
  display: none;
}
.notes__list-item {
  border-bottom: 1px solid var(--mainGray);
  margin: 15px 0;
  cursor: pointer;
  color: #fff;
}
.notes__list-item--selected {
  background-color: #eeeeee;
  color: #7c7c7c;
  border-radius: 7px;
  font-weight: bold;
}
.notes__small-title,
.notes__small-update {
  padding: 10px;
}
.notes__small-title {
  font-size: 1.2rem;
}
.notes__small-body {
  padding: 0 10px;
}
.notes__small-update {
  color: #aaa;
  font-size: .8rem;
  font-style: italic;
  text-align: left;
}
.notes__add {
  background-color: #009578;
  border: none;
  border-radius: 7px;
  color: var(--secondaryColor);
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1em;
  padding: 0.75rem 0;
  width: 100%;
  transition: all 0.3s ease-in-out;
}
.notes__add:hover {
  background-color: #00af8c;
}
.notes__preview {
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;
  flex-grow: 1;
}
.notes__title,
.notes__body {
  border: none;
  outline: none;
  width: 100%;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}
.notes__title {
  font-size: 3rem;
  font-weight: bold;
}
.notes__body {
  flex-grow: 1;
  font-size: 1.2em;
  line-height: 1.5;
  margin-top: 2em;
  resize: none;
}
.note__item-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.notes__list-trash{
  width: 25px;
  height: 25px;
  color: var(--mainRed);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
background-color: var(--mainWhite);
font-size: 0.8rem;
margin-right: 8px;
}
